git+https://github.com/openai/whisper.git #cloning whisper model
pytube
pydub
elevenlabs

#Transalation of text
googletrans==4.0.0-rc1


# Add any general requirements for your project
ffmpeg
numpy==1.23.5
torch==2.1.0+cu121
torchvision==0.16.0+cu121
opencv-python==4.8.0.76
filelock==3.13.1
typing-extensions==4.9.0
sympy==1.12
networkx==3.2.1
jinja2==3.1.3
fsspec==2023.6.0
triton==2.1.0
requests==2.31.0
pillow==9.4.0
MarkupSafe==2.1.5
charset-normalizer==3.3.2
#idna==3.6
urllib3==2.0.7
certifi==2024.2.2
mpmath==1.3.0
#ffmpeg-python
#mediapipe==0.8.11

# Git installs
git+https://github.com/elliottzheng/batch-face.git@master
#git+https://raw.githubusercontent.com/AwaleSajil/ghc/master/ghc-1.0-py3-none-any.whl

#wav2lip


git+https://github.com/elliottzheng/batch-face.git@master
git clone https://github.com/justinjohn0306/Wav2Lip

wget 'https://iiitaphyd-my.sharepoint.com/personal/radrabha_m_research_iiit_ac_in/_layouts/15/download.aspx?share=EdjI7bZlgApMqsVoEUUXpLsBxqXbn5z8VTmoxp55YNDcIA' -O '/Wav2Lip/checkpoints/wav2lip_gan.pth'
a = !pip install https://raw.githubusercontent.com/AwaleSajil/ghc/master/ghc-1.0-py3-none-any.whl

#download pretrained model for face detection
wget "https://www.adrianbulat.com/downloads/python-fan/s3fd-619a316812.pth" -O "/Wav2Lip/face_detection/detection/sfd/s3fd.pth"


